<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 panel album-panel">
			  <div class="panel-body">

			    <div album-list></div>
			</div>
		</div>
		<div class="col-md-9 main-container">
			<div albums-preview></div>
		</div>
	</div>
</div>