<div class="container">
<h3>Iniciar Sesion</h3>
  <p class="bg-danger">{{ vm.message }}</p>
  <form ng-submit="vm.login()" class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="email-field">Email address</label>
      <input ng-model="vm.email" type="email" class="form-control" id="email-field" placeholder="Email">
    </div>
    <div class="form-group">
      <label class="sr-only" for="password-field">Password</label>
      <input ng-model="vm.password" type="password" class="form-control" id="password-field" placeholder="Password">
    </div>
    <button type="submit" ng-show="!vm.waiting" class="btn btn-default">Entrar
    </button>
    <div class="form-group">
      <span spinner ng-show="vm.waiting">
      </span>
    </div>
  </form>
</div>