<div>
	<div class="row gallery">
		<div ng-repeat="(key,album) in vm.albums"
		class="col-xs-12 col-sm-6 col-lg-4 col-xl-4">
		<div ng-class="{'image-highlight':album.highlight}"
				 class="thumbnails"
				 ng-click="vm.goToAlbum(album.title_url)"
				 ng-mouseover="vm.currentAlbum(album.album_id)"
				 ng-mouseleave="vm.currentAlbum()">
			
			<img
			 image-preloader					 
			 ng-src="/uploaded/images/{{ album.cover.filename }}">

			<a ng-href="/#/album/{{ album.title_url }}"
			data-toggle="modal" data-target="#newTeather">

			<span ng-show="album.highlight" class="album-title">
				{{ album.date }}
			</span>

		</a>

	</div>			

</div>
</div>
</div>