<div class="confirmation-text">

  <div ng-if="!vm.askedConfirmation"
       ng-click="vm.ask()"

       class="confirmation-label">
      {{ vm.label }}
  </div>

  <div ng-if="vm.askedConfirmation"
       class="confirmation-options">

    <div class="confirmation-question">
      {{ vm.labels.question }}
    </div>

    <a ng-click="vm.resolve(vm.key)"
       class="confirmation-yes btn btn-success">
      {{ vm.labels.yes }}
    </a>

    <a ng-click="vm.showLabel()"
       class="confirmation-no btn btn-danger">
      {{ vm.labels.no }}
    </a>

  </div>

</div>