<nav class="navbar navbar-default">
    <div class="container navigation">
        <div class="navbar-header">
            <a class="navbar-brand title" href="#/">
                <span>{{ vm.basic.siteTitle }}</span>                
                <span ng-if="vm.currentSubPath"> / <b>{{ vm.currentAlbum.title }}</b></span>
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#/">
                    {{ vm.labels.links.home }}
                </a>
            </li>
            <li ng-show="vm.auth.showAdminNav">
                
                <a href="#/"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   title="{{ vm.labels.admin.loggedMessage }}{{ vm.username }}">

                    <p ng-class="vm.links.admin.class">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    </p>
                </a>
                
            </li>
            <li ng-show="vm.isLogged">
                <a href="#/"ng-click="vm.auth.logout()">
                    <p ng-class="vm.links.login.class">{{ vm.labels.login.logout }}</p>
                </a>
            </li>
        </ul>
    </div>
</nav>