/*
 * 
 * Main Customizable CSS file
 * for ArtAlbum app
 * based on bootstrap
 *
 */

 body {
  height: 100%;

  background-color: #000;
}

.wrapper {
  min-height:100%;
  position:relative;
}

#main {
  color: #666;
  padding-top: 40px;
  padding-left: 3%;
  padding-right: 3%;
}

.navigation .title {
  font-size: 1em;
  float: right;
}

div[album-list] ul {
  list-style: none;
  padding: 0;
}

div[album-list] {
  width: 100%;
}

div[album-list] button {
  border: none;
  color: #666;
}

div[album-list] button:hover {
  border: none;
  color: #d9534f;
}

div[album-list] li {
  margin-bottom: 4px;
}

.album-highlight {
  border-left: 1px solid #e01;
}

div[album-list] span {
  padding-left: 5px;
}

div[album-list] a {
  border: none;
  color: #666;
  font-style: italic;
}

div[album-list] a:hover {
  border: none;
  text-decoration: none;
  font-style: normal;
  color: #333;
}

div[album-list] .album-date 
{

  font-style: normal;
  font-weight: bold;
  color: #555;
}

div[album-list] .album-panel {
  border-bottom: 3px solid #efe
}

.main-container {
  padding-bottom: 50px;
}

.footer {
  width:100%;
  height:50px;
  text-align: right;
  margin-top: 70px;
}

.footer a {
  color: #555;
  font-size: 0.9em;
  padding-right: 10px;
}

.loading-teather {
  text-align: center;
}

.loading-teather > div {
  margin: 0 auto;
  max-width: 150px;
}



/* Teather */

#newTeather .next {
  position: absolute;
  bottom: -18px;
  right: -25px;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

#newTeather .previous {
  position: absolute;
  bottom: -18px;
  left: -25px;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

#main .gallery {
  padding: 0 40px;
}

#main a {
  border: none;
  color: #666;
  font-style: italic;
}

#main a:hover {
  border: none;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  color: #555;
}

.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }

.gallery li {
  display: inline;
  list-style: none;
}



.thumbnail {
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 0;
}

.thumbnail a > .album-title {
  position: absolute;
  bottom: 24px;
  right: 24px;
  background-color: #000;
  color: #fff;
  font-style: normal;
  padding: 6px 8px;
}

.thumbnail img, img.thumbnail {
  width: 240px;
  height: 150px;
  object-fit: cover;
  display: inline;
  //padding-left: 5px;
}

.image-highlight {
  padding-left: 0;
  border-left: 5px solid #e01;
}

.modal {
  background-color: #222;
  max-height: 100%;
}

.modal-dialog {
  width: 95%;
  max-width: 95% !important;
  max-height: 95% !important;
  //height: auto;
}

.modal-footer {
  text-align: center;
}






/**
 * ADMINISTRATOR USER STYLES
 */

 .gallery.logged li, .gallery.logged img {
  display: block;
}

.album-image {
  position: relative;
  font-weight: bold;
}

.album-image .delete:hover {
  color: #fff;
  cursor: pointer;
}

.album-image .delete {
  text-align: center;
  position: absolute;
  color: #fff;
  font-size: 14px;
  right: -140px;
  top: 0;
  border-radius: 10px;
  background-color: #000;
  z-index: 200;
}

.btn {
  color: #000 !important;
}

.as-sortable-placeholder, .as-sortable-item {
  width: 240px;
  height: 150px;
  list-style-type: none;
  list-style: none;
}

#main form {
  margin-bottom: 30px;
}

#main .form-group {
  margin-right: 15px;
}

.dropzone {
  padding: 14px;
  border: 2px dashed #bbb;
}

.drop-zone-hover {
  border: 2px dashed #e00;
}

.progress {
  max-width: 200px;
}

@-webkit-keyframes highlight {
  0% {
    color: #e00;
    font-style: bold;
  }
  100% {
    color: #666;
    font-style: italic;
  }
}
.highlight {
  color: #666;
  -webkit-animation-name: highlight; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: 3; 
}
/* ============================================================== */
